.container {
    margin-top: 60px;
    width: 1068px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #A0522D  ;
    transition: background-color 1s ease-in-out;
    -webkit-transition: background-color 1s ease-in-out;
    -moz-transition: background-color 1s ease-in-out;
    -ms-transition: background-color 1s ease-in-out;
    -o-transition: background-color 1s ease-in-out;
    border: 10px solid #A0522D ;
}
  

.slide {
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out 1.5s;
    -webkit-transition: opacity 1s ease-in-out 1.5s;
    -moz-transition: opacity 1s ease-in-out 1.5s;
    -ms-transition: opacity 1s ease-in-out 1.5s;
    -o-transition: opacity 1s ease-in-out 1.5s;
}
  

.slide.active{
    opacity: 1;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}